<a href="https://api.whatsapp.com/send/?phone=919873120444&text=Hi%2C+Shubham%21" target="_blank" class="whatsapp-card">
    <img src="/icons/whatsapp.svg" />
    <span>Chat on WhatsApp</span>
</a>

<hr class="hr-break" />

<p class="msg-text">Or, drop in a message and I'll get back to you. <span id="res-text"></span></p>

<div class="contact-card">
    <div class="row-one">
        <div class="row-name">
            <label>Name</label>
            <input 
                class="name" 
                type="text"
                placeholder="Enter your name here" 
                minlength="2" 
                maxlength="30"
                id="contact-name"    
                required
            />
        </div>
        <div class="row-email">
            <label>Email</label>
            <input 
                type="email"
                class="email" 
                placeholder="Enter your email here" 
                id="contact-email"
                required
            />
        </div>
    </div>
    <div class="row-two">
        <label>Message</label>
        <textarea 
            class="message" 
            placeholder="Enter your message here"
            id="contact-message"
            minlength="2" 
            maxlength="500"
            required
        ></textarea>
    </div>
    <div class="row-three">
        <button 
        id="contact-form-submit"
        >Send</button>
    </div>
</div>