<a href="https://api.whatsapp.com/send/?phone=919873120444&text=Hi%2C+Shubham%21" target="_blank" class="whatsapp-card">
    <img src="/icons/whatsapp.svg" />
    <span>Chat on WhatsApp</span>
</a>

<hr class="hr-break" />

<p class="msg-text">Or, drop in a message and I'll get back to you</p>

<div class="contact-card">
    <div class="row-one">
        <div class="row-name">
            <label>Name</label>
            <input 
                class="name" 
                placeholder="Enter your name here" 
                minlength="2" 
                maxlength="50" 
                pattern="[A-Za-z\s]+"
            />
        </div>
        <div class="row-email">
            <label>Email</label>
            <input class="email" placeholder="Enter your email here" />
        </div>
    </div>
    <div class="row-two">
        <label>Message</label>
        <textarea class="message" placeholder="Enter your message here"></textarea>
    </div>
    <div class="row-three">
        <button>Send</button>
    </div>
</div>