<!-- footer start -->
<footer class="footer">
    <div class="footer-wrapper">
        <div class="logo-parent">
            <img loading="lazy" alt="triedwhatnot logo" class="footer-logo" src="/images/triedwhatnot_logo.webp" />
        </div>

        <div class="footer-el-wrapper">
            <div class="footer-parent">
                <a href="/" class="footer-el">Home</a>
                <a href="/work" class="footer-el">Work</a>
                <a href="/documents/Shubham_Gupta_Resume.pdf" class="footer-el">Resume</a>
            </div>

            <div class="footer-parent">
                <a href="https://www.linkedin.com/in/triedwhatnot" target="_blank" class="footer-el">LinkedIn</a>
                <a href="https://leetcode.com/u/triedwhatnot/" target="_blank" class="footer-el">Leetcode</a>
                <a href="https://github.com/triedwhatnot" target="_blank" class="footer-el">Github</a>
            </div>

            <div class="footer-parent">
                <a href="/contact" class="footer-el">Contact</a>
                <a href="/resources" class="footer-el">Resources</a>
                <!-- <a class="footer-el">Email</a> -->
            </div>
        </div>
    </div>
    <div class="quote">With Time and Effort, you build a stronger human</div>
</footer>
<!-- footer end -->