<div class="experience-card">
    <div class="text-parent">
        <div class="head-wrap">
            <a target="_blank" href="https://www.linkedin.com/company/et_money/">
                <img alt="etmoney logo" class="exp-logo" src="/icons/etmoney.svg" />
                <img alt="go to website icon" class="click-icon" src="/icons/click-link.svg" />
            </a>
            <div class="duration">Sept 23 - Present</div>
        </div>
        <div class="exp-el">
            <img alt="tick icon" src="/icons/tick.svg" />
            <div>Acted as a <span>POC</span> for all Mutual Fund related tasks and as a <span>Team Lead</span> in high-paced tasks for the financial platform, which captures <span>~25% of India's Mutual Fund</span> market share and caters to <span>10 millions of users</span>.</div>
        </div>
        <div class="exp-el">
            <img alt="tick icon" src="/icons/tick.svg" />
            <div>Completely owned <span>3 major Product dashboards</span>, including related pages like investment / transaction / SIP details etc, all of which being logic intensive pages reflecting current value, P&L, gain %, one day change, <span>live stock prices updates</span> etc.</div>
        </div>
        <div class="exp-el">
            <img alt="tick icon" src="/icons/tick.svg" />
            <div>Implemented <span>A/B Testing</span> in user onboarding flow to establish the better performing bank addition journey, which led to increase in <span>user's conversion</span> by <span>~30%</span>.</div>
        </div>
        <div class="exp-el">
            <img alt="tick icon" src="/icons/tick.svg" />
            <div>Implemented <span>Sentry</span> across the website for performance and error monitoring, which reduced the <span>crash rate</span> from <span>6% to 3%</span>.</div>
        </div>
        <div class="exp-el">
            <img alt="tick icon" src="/icons/tick.svg" />
            <div><span>Led code reviews</span>, <span>managed sprints</span>, <span>interviewed 30+ candidates</span> and <span>mentored new joiners</span> to get up-to date with existing structure.</div>
        </div>
    </div>
</div>