<!-- skills start -->
<section class="skill">
    <h3>Skills</h3>

    <div class="skill-wrapper">

        <div class="skill-card">
            <span class="skill-el">JavaScript</span>
            <span class="skill-el">React</span>
            <!-- <span class="skill-el">Next.js</span> -->
            <!-- <span class="skill-el">TypeScript</span> -->
            <span class="skill-el">HTML</span>
            <span class="skill-el">CSS</span>
            <span class="skill-el">Tailwind CSS</span>
            <span class="skill-el">Material UI</span>
            <span class="skill-el">Redux</span>
            <span class="skill-el">Context API</span>
            <!-- <span class="skill-el">Node</span>
            <span class="skill-el">Express</span> -->
            <!-- <span class="skill-el">Firebase</span>
            <span class="skill-el">Firestore</span> -->
        </div>

        <div class="skill-card">
            <span class="skill-el">Google Analytics</span>
            <span class="skill-el">Sentry</span>
            <span class="skill-el">Web Vitals</span>
            <span class="skill-el">A/B Testing</span>
        </div>

        <div class="skill-card">
            <span class="skill-el">React Testing Library</span>
            <span class="skill-el">Jest</span>
            <span class="skill-el">JS-DOM</span>
            <span class="skill-el">Jest-DOM</span>
            <span class="skill-el">Vitest</span>
        </div>

        <div class="skill-card">
            <span class="skill-el">Vite</span>
            <span class="skill-el">CRA</span>
            <span class="skill-el">Gulp</span>
            <span class="skill-el">Babel</span>
            <span class="skill-el">Webpack</span>
            <span class="skill-el">Gradle</span>
            <span class="skill-el">Terser</span>
            <span class="skill-el">Git</span>
        </div>

        <div class="skill-card">
            <span class="skill-el">SEO</span>
            <span class="skill-el">SSR</span>
            <span class="skill-el">Security</span>
            <!-- <span class="skill-el">Short Polling</span> -->
            <!-- <span class="skill-el">Caching</span> -->
            <span class="skill-el">Performance</span>
            <span class="skill-el">Test driven development</span>
            <span class="skill-el">Responsive UI</span>
        </div>

    </div>
</section>
<!-- skills end -->