<!-- skills start -->
<section class="skill">
    <h3>Skills</h3>

    <div class="skill-wrapper">

        <div class="skill-card">
            <span class="skill-el">JavaScript</span>
            <span class="skill-el">React</span>
            <span class="skill-el">HTML</span>
            <span class="skill-el">CSS</span>
            <span class="skill-el">Tailwind CSS</span>
            <span class="skill-el">Material UI</span>
            <span class="skill-el">Redux</span>
        </div>

        <div class="skill-card">
            <span class="skill-el">Google Analytics</span>
            <span class="skill-el">Sentry</span>
            <span class="skill-el">Google optimise</span>
        </div>

        <div class="skill-card">
            <span class="skill-el">React Testing Library</span>
            <span class="skill-el">Jest</span>
            <span class="skill-el">JS-DOM</span>
            <span class="skill-el">Jest-DOM</span>
            <span class="skill-el">Vitest</span>
        </div>

        <div class="skill-card">
            <span class="skill-el">Vite</span>
            <span class="skill-el">CRA</span>
            <span class="skill-el">Gulp</span>
            <span class="skill-el">Babel</span>
            <span class="skill-el">Webpack</span>
            <span class="skill-el">Gradle</span>
            <span class="skill-el">Terser</span>
        </div>


    </div>
</section>
<!-- skills end -->