<div class="testimonials-card splide__slide">
    <div class="text-parent">
        " I enthusiastically recommend Shubham for his exceptional skills. His dedication and adaptability to new challenges make him an asset to any organisation. It's been incredible to witness his growth from being mentored to mentoring new team members. I have no doubt he will continue to excel and inspire in his future endeavours. "
    </div>
        
    <div class="head-wrap">
        <img alt="arpit arya's image" class="test-logo" src="/images/arpit_arya.jpeg" />
        <div class="details">
            <span class="name">Arpit Arya</span>
            <span class="designation">Engineering Manager, ET Money</span>
        </div>
    </div>
</div>

<div class="testimonials-card splide__slide">
    <div class="text-parent">
        " I highly recommend Shubham as a diligent and dedicated professional. Shubham consistently showcases exceptional problem-solving skills, strong attention to detail, and excellent communication abilities. He always willing to go the extra mile and contribute positively to any team and a valuable asset to any organization. "
    </div>
        
    <div class="head-wrap">
        <img alt="sagar garg's image" class="test-logo" src="/images/sagar_garg.jpeg" />
        <div class="details">
            <span class="name">Sagar Garg</span>
            <span class="designation">SDE 2, ET Money</span>
        </div>
    </div>
</div>

<div class="testimonials-card splide__slide">
    <div class="text-parent">
        " I wholeheartedly recommend Shubham for his outstanding contributions. His work ethic is evident in every project he undertakes, consistently delivering results beyond expectations.
        He prioritises product needs, ensuring our projects align with user preferences. As a team player, he collaborates seamlessly, valuing diverse perspectives. "
    </div>
    <div class="head-wrap">
        <img alt="navjot singh's image" class="test-logo" src="/images/navjot_singh.jpeg" />
        <div class="details">
            <span class="name">Navjot Singh</span>
            <span class="designation">SDE 1, ET Money</span>
        </div>
    </div>
</div>