<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <script src="/javascripts/common.js"></script>
    <link href="/stylesheets/resources.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
</head>
<body class="dark">

    <!-- header start -->
    <%- include('partials/header.ejs') %>
    <!-- header end -->

    <div class="content-section">

        <section class="intro">
            <h1>Resources</h1>
            <p>Helpful <span class="span-highlight">resources</span> I've been using regularly to learn and grow as a software engineer, individual and to keep up with the dynamic nature of tech industry and startup culture.</p>
        </section>

        <!-- Inspiration start -->
        <section class="inspiration">
            <h3>Tech Mentors</h3>

            <div class="inspiration-wrapper">
                <div class="inspiration-card">
                    <div class="img-parent">
                        <img src="/images/akshay_saini.jpeg" />
                    </div>
                    <div class="text-parent">
                        <h4>Akshay Saini</h4>
                        <div>Founder at NamasteDev, who is a passionate teacher and JavaScript enthusiast. Aimed at creating practical content related to Frontend engineering.</div>
                        <a href="https://www.youtube.com/@akshaymarch7" target="_blank"><img src="/icons/youtube.svg" /></a>
                    </div>
                </div>

                <div class="inspiration-card">
                    <div class="img-parent">
                        <img src="/images/coder_aryan.jpeg" />
                    </div>
                    <div class="text-parent">
                        <h4>Aryan Singh</h4>
                        <div>A Google engineer, who is keen to his share holistic knowledge and the roadmap to excel in tech industry whilst being blunt, sarcastic and funny.</div>
                        <a href="https://www.youtube.com/@singh1aryan" target="_blank"><img src="/icons/youtube.svg" /></a>
                    </div>
                </div>
                
                <div class="inspiration-card">
                    <div class="img-parent">
                        <img src="/images/prime_time.jpg" />
                    </div>
                    <div class="text-parent">
                        <h4>The Primeagen</h4>
                        <div>Michael Paulson is a former Netflix employee, who shares his unapologetic take on latest changes in the tech industry and related topics.</div>
                        <a href="https://www.youtube.com/@ThePrimeTimeagen" target="_blank"><img src="/icons/youtube.svg" /></a>
                    </div>
                </div>

                <div class="inspiration-card">
                    <div class="img-parent">
                        <img src="/images/wev_dev.jpg" />
                    </div>
                    <div class="text-parent">
                        <h4>Web Dev Simplified</h4>
                        <div>Kyle Cook aims to provide practical web development knowledge, focusing on popular technologies, best practices and recent changes. Definitely Recommended.</div>
                        <a href="https://www.youtube.com/@WebDevSimplified" target="_blank"><img src="/icons/youtube.svg" /></a>
                    </div>
                </div>

                <div class="inspiration-card">
                    <div class="img-parent">
                        <img src="/images/varun_maaya.jpeg" />
                    </div>
                    <div class="text-parent">
                        <h4>Varun Mayya</h4>
                        <div>A very pragmatic entrepreneur, who is passionate about science, human psychology, tech and AI. His agility in coming up with his take on latest updates is commendable.</div>
                        <a href="https://www.youtube.com/@VarunMayya" target="_blank"><img src="/icons/youtube.svg" /></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Inspiration end -->


        <!-- newsletter start -->
        <section class="podcast" id="newsletter">
            <h3>Newsletter</h3>

            <div class="podcast-card">
                <div class="img-parent">
                    <img src="/images/tldr.jpg" />
                </div>
                <div class="text-parent">
                    <h4>TLDR</h4>
                    <div>This newsletter helps you keep up with tech in 5 minutes. Get the free daily email with summaries of the most interesting stories in startups 🚀, tech 📱, and programming 💻 .</div>
                    <a href="https://tldr.tech/" target="_blank">tldr.tech<img src="/icons/click-link.svg" /></a>
                </div>
            </div>
        </section>
        <!-- newsletter end -->


        <!-- podcast start -->
        <section class="podcast">
            <h3>Podcast Recommendations</h3>

            <div class="podcast-card">
                <div class="img-parent">
                    <img src="/images/wtf_banner.jpg" />
                </div>
                <div class="text-parent">
                    <h4>WTF is with Nikhil Kamath</h4>
                    <div>This podcast encourages young people to venture into different business domains by bringing in industry experts and offering them a step-by-step roadmap to success.</div>
                    <a href="https://youtube.com/playlist?list=PLVPkbpccdn98Mb43hFbfxXHRLQxAS4tyU&si=V9ymlUWnfogatDP8" target="_blank"><img src="/icons/youtube.svg" /></a>
                </div>
            </div>
            <!-- https://youtube.com/playlist?list=PLVPkbpccdn98Mb43hFbfxXHRLQxAS4tyU&si=V9ymlUWnfogatDP8 -->
            <div class="podcast-card">
                <div class="img-parent">
                    <img src="/images/modern_wisdom.jpg" />
                </div>
                <div class="text-parent">
                    <h4>Modern Wisdom</h4>
                    <div>This podcast offers insightful conversations with leading experts on self-improvement, philosophy, and modern life. Definitely recommended, if you want grow as an individual in all phases of life.</div>
                    <a href="https://youtube.com/playlist?list=PLkL7BvJXiqSQu3i72hSrG4vUkDuaneHuB&si=vNID0iatJ8Ey2tmc" target="_blank"><img src="/icons/youtube.svg" /></a>
                </div>
            </div>
            <!-- https://youtube.com/playlist?list=PLkL7BvJXiqSQu3i72hSrG4vUkDuaneHuB&si=vNID0iatJ8Ey2tmc -->
        </section>
        <!-- podcast end -->

        <!-- footer start -->
        <%- include('partials/footer.ejs') %>
        <!-- footer end -->
    </div>
    
    
</body>
</html>