<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="MAD's assignment">
	<meta name="keywords" content="Estelle, wealth management, single application, verified Avenues, trusted Advisors, Informed Decisions">
	<meta name="author" content="Shubham Gupta">

	<!--author stylesheet-->
	<link href="/stylesheets/projects/estelle-wealth.min.css" type="text/css" rel="stylesheet">
	
	<!--google font stylesheet-->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
	
	<!--social icons font-->
	<script src="https://kit.fontawesome.com/b68e8b579e.js" crossorigin="anonymous"></script>
	
	<link rel="icon" href="/icons/wealth.svg" />
    <title>Estelle Wealth</title>
</head>
<body>
    
<section class="homepage">

<!--transiting window-->
	<div class="introduction-window"></div>
	<div class="intro-head"><img loading="lazy" alt="estelle wealth logo" src="/images/logo2.gif"></div>

<!--border animation box-->
<div class="box-border"></div>

<!--main container-->
<div class="container">
	
	<!--container left text-->
	<div class="container-text">

		<div class="container-text_inner">
			
			<div class="navigation">
				
				<div class="logo"><img loading="lazy" alt="estelle wealth logo" src="/images/logov2.png"></div>
				
				<ul class="navbar">
					<li class="item">how it works</li>
					<li class="item">about</li>
					<li class="item">team</li>
					<li class="item">contact</li>
				</ul>

			</div>

			<!--main body text-->
			<div class="body-text">
				<div class="wrapper-1">
					<h2>Simplify your wealth management with</h2>
				</div>
				
				<h1>
					<span>Single Application</span>
					<span>Verified Avenues</span>
					<span>Trusted Advisors</span>
					<span>Informed Decisions</span>
					<div class="lr-effect-2"></div>
				</h1>

				<div class="wrapper-2">
					<div class="lr-effect"></div>
					<p>How does managing and enjoying your wealth wisely sound to you?<br>Sign-up and get an exclusive preview of the future of wealth management.</p>
					<input type="email" placeholder="Enter your e-mail address">
				</div>
				
			</div>

			<!--copyright text-->
			<div class="copyright-text">
				&copy; 2016 Estelle Wealth. All Rights Reserved.
			</div>

		</div>

	</div>

	<!--container right video-->
	<div class="container-video">

		<div class="video-box">
			<video id="video-back" muted="true" height="1200px" width="1000px"><source src="/videos/estelle.mp4" type="video/mp4">Sorry, your browser doesn't support embedded videos.</video>
		</div>

		<div class="video-mask"><img loading="lazy" alt="background image pattern" src="/images/dots-pattern.png"></div>
		
		<a href="#" class="access-btn">get early access</a>

		<div class="social-icons">
			
			<i class="fab fa-facebook-f"></i>
			<i class="fab fa-twitter"></i>
			<i class="fab fa-linkedin-in"></i>
			
			<!---Mute botton-->
			<div class="mute-btn">
				<div class="mute-top muted"></div>
				<div class="mute-bottom">MUTE</div>
			</div>
		
		</div>

	</div>

</div>


</section>
	<script src="/javascripts/projects/estelle-wealth.min.js"></script>
</body>

</html>