<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Game</title>
    <link rel="icon" href="/icons/brain.svg">
    
    <link rel="stylesheet" href="/stylesheets/projects/memory-game.css"/>
    <script src="/javascripts/projects/memory-game.js"></script>
</head>
<body>
    <section class="console-2" id="tile-game-id">
        <div class="tile-game">
            <button class="btn-tile-game">NEW GAME</button>
            
            <!-- <div class="man-1">
                <div class="player-name-1">VICTORY!</div>
            </div> -->
            <div class="tile-game-area">


                <!-- <div class="tile" id="tile-1">
                    <div class="num-11 num">8</div>
                    <div class="num-11 num">8</div>
                </div> -->
            </div>
            <!-- <div class="man-2">
                <div class="player-name-2">VICTORY!</div>
            </div> -->
        </div>
    </section>
</body>
</html>