<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Shubham Gupta">
    <link href="/icons/stock.svg" rel="icon" />
   
<!-- Font Awesome Icons -->
<link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous"
/>
<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <link href="/stylesheets/projects/stock-exchange.min.css" type="text/css" rel="stylesheet">
    <title>Stock Xchange</title>
</head>

<body>
    
    <section class="console">

        <div class="search-bar">
            <input type="text" name="query" class="query" placeholder="Enter Stock name to search">
            <i class="fas fa-search"></i>
        </div>

        <div class="data-container">

        </div>
    
        <div class="sort-filter">
            <div class="sort">SORT</div>
            <div class="filter">FILTER</div>
        </div>

    </section>


       <script src="/javascripts/projects/stock-exchange.min.js"></script>
</body>
</html>